<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h2><a id="logo" routerLink="/home">Seekers</a></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/applies">Applied Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/jobs">My Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/interviews">Interviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/search">Search Jobs</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>

<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <div class="text-center">
        <img *ngIf="user.photo === ''" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
          alt="avatar">
        <img *ngIf="user.photo !== ''" src="{{user.photo}}" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" name="resume" id="resume" class="text-center center-block file-upload" (change)="upload($event, 'photo')"
          accept=".png, .jpeg, .jpg">
      </div>
      <hr><br>
      <!-- <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Applies</strong></span> {{numberOfApplies}}</li>
      </ul> -->
    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <hr>
          <div *ngIf="successMessage !== null" class="alert alert-success">
            <strong>Success!</strong> {{successMessage}}
          </div>
          <div *ngIf="errorMessage !== null" class="alert alert-danger">
            <strong>Error!</strong> {{errorMessage}}
          </div>
          <form class="row form" #profileForm="ngForm" (ngSubmit)="updateProfile(profileForm)" id="profileForm">
            <input type="hidden" class="form-control" name="$key" #$key="ngModel" [(ngModel)]="user.$key" />
            <input type="hidden" class="form-control" name="photo" #photo="ngModel" [(ngModel)]="user.photo" />
            <input type="hidden" class="form-control" name="resume" #resume="ngModel" [(ngModel)]="user.resume" />
            <div class="form-group col-sm-6">
              <label for="fullName">
                <h4>Full name</h4>
              </label>
              <input type="text" class="form-control" name="fullName" #fullName="ngModel" [(ngModel)]="user.fullName"
                placeholder="Full Name" title="Please enter your full name" />
            </div>

            <div class="form-group col-sm-6">
              <label for="phone">
                <h4>Phone</h4>
              </label>
              <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="user.phone" id="phone"
                placeholder="Phone Number" title="Please enter your phone number">
            </div>

            <div class="form-group col-sm-6">
              <label for="mobile">
                <h4>Mobile</h4>
              </label>
              <input type="text" class="form-control" name="mobile" #mobile="ngModel" [(ngModel)]="user.mobile" id="mobile" placeholder="Mobile Number" title="Please enter your mobile number">
            </div>
            <div class="form-group col-sm-6">
              <label for="email">
                <h4>Email</h4>
              </label>
              <input type="email" class="form-control" value="{{user.email}}" disabled>
            </div>
            <div class="form-group col-sm-6">
              <label for="email">
                <h4>Address</h4>
              </label>
              <input type="email" class="form-control" name="address" #address="ngModel" [(ngModel)]="user.address" id="address" placeholder="Address" title="Please enter your address">
            </div>
            <div class="form-group col-sm-6">
              <label for="resume">
                <h4>Resume (only pdf, doc or docx)</h4>
              </label>
              <br>
              <input type="file" name="resume" id="resume" (change)="upload($event, 'resume')" accept=".pdf, .doc, .docx" />
            </div>
            <div *ngIf="user.resume !== ''" class="form-group col-sm-6">
              <label for="password2">
                <h4>Resume Uploaded</h4>
              </label>
              <br>
              <a class="btn btn-info" href="{{user.resume}}">Download resume</a>
            </div>
            <div class="form-group col-sm-12">
              <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
