<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h4><a id="logo" routerLink="/admin/dashboard">Admin Seekers</a></h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/admin/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/admin/companies">Companies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/admin/jobs">Jobs</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>

<div class="container">
  <h1 class="text-center">Welcome Admin</h1>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-md-3">
      <h3>Users: </h3><h4 class="btn btn-success"><a routerLink="/admin/users">{{nbOfUsers}}</a></h4>
    </div>

    <div class="col-md-3">
      <h3>Companies: </h3><h4 class="btn btn-warning"><a routerLink="/admin/companies">{{nbOfCompanies}}</a></h4>
    </div>

    <div class="col-md-3">
      <h3>Jobs: </h3><h4 class="btn btn-danger"><a routerLink="/admin/jobs">{{nbOfJobs}}</a></h4>
    </div>

    <div class="col-md-3">
      <h3>Interviews: </h3><h4 class="btn btn-primary">{{nbOfInterviews}}</h4>
    </div>
  </div>
</div>
