<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h2><a id="logo" routerLink="/home">Seekers</a></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="isUser" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/applies">Applied Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/jobs">My Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/interviews">Interviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/user/search">Search Jobs</a>
      </li>
    </ul>
    <ul *ngIf="isCompany" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/company/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/company/jobs">My Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-secondary" routerLink="/company/interviews">Interviews</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>

<div class="container">
  <h2 class="text-center">Welcome to Seekers {{userName}}!</h2>
</div>

<!--User interface-->
<div *ngIf="isUser">
  <div class="container">
  <h3 class="text-center">Jobs</h3>
  <div *ngIf="jobs?.length > 0" class="row">
      <div *ngFor="let item of jobs" class="card border-light mb-3" style="width: 18rem;">
        <div class="card-header">
          <h4>{{item.title}}</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.type}}</h5>
          <p class="card-text">Company: {{item.company.name}}</p>
          <p class="card-text">${{item.salary}}</p>
          <button class="btn btn-primary" *ngIf="!item.applied" (click)="apply(item)">Apply</button>
          <button class="btn btn-success" disabled *ngIf="item.applied">Applied</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Company interface-->
<div *ngIf="isCompany">
  <div class="container">
    <div class="row">
        <div *ngIf="successMessage !== null" class="col-md-12 alert alert-success">
            <strong>Success!</strong> {{successMessage}}
          </div>
          <div *ngIf="errorMessage !== null" class="col-md-12 alert alert-danger">
            <strong>Error!</strong> {{errorMessage}}
          </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info btn-lg" (click)="fillModal()" data-toggle="modal" data-target="#myModal">Create Job</button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create a Job</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <div class="modal-body">
            <input type="text" name="title" #title="ngModel" [(ngModel)]="job.title" class="form-control" placeholder="Job Title"
              required autofocus>
            <input type="text" name="type" #type="ngModel" [(ngModel)]="job.type" class="form-control" placeholder="Job Type"
              required>
            <input type="number" name="salary" #salary="ngModel" [(ngModel)]="job.salary" class="form-control"
              placeholder="Job Salary" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" (click)="addJob()" data-dismiss="modal">Add Job</button>
          </div>
      </div>

    </div>
  </div>

</div>
